.zoomedIn {
  transform: scale(1.2
  ); /* Zooms in the video by 110% */
  transform-origin: center; /* Ensures the zoom centers on the middle of the video */
}

canvas {
  display: none; /* This hides the canvas elements */
}

#preview {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#capture-button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#gifWindow {
  background-image: url("../assets/theater-medium.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}
/* body {
  background-image: url("../assets/theater-medium.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
} */

